@{
    ViewBag.Title = "Home Page";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">Startseite</li>
    </ol>
</nav>


<div class="jumbotron">
    <h1>Willkommen bei EZCourse</h1>
    <p class="lead">Einfach. Bequem. Effizient.</p>

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Kurse suchen</h2>
        <p> Suchen Sie den richtigen Kurs für Ihre Ansprüche aus Tausenden von Optionen!</p>
    </div>
    <div class="col-md-4">
        <h2>Kurse anlegen</h2>
        <p>Bereichern Sie die Community mit eigenen Kursen!</p>
    </div>
    <div class="col-md-4">
        <h2>Meine Kurse</h2>
        <p>Jederzeit bequem eigene Kursinhalte checken und editieren! </p>
    </div>
</div>