

@{
    ViewBag.Title = "CourseContent";
}

<br />


<button class="btn btn-primary" type="submit">new</button>

<h2>Course Content</h2>

<head>
    <style>

        .test
        {
            border: 2px solid black;
            border-color: #0174DF;
            height: 200px;
        }

        .middle
        {
            margin: 0px 50px 0px 50px;
        }
    </style>
</head>

<form>

    <div class="container">
        <div class="form-group col-md-3 test">
            <h4>Description and Type</h4>
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription">
            <label for="inputType">Type</label>
            <input type="text" class="form-control" id="inputType" placeholder="Video">

            
        </div>
        <div class="form-group col-md-3 test middle">

            <h4>Value</h4>
            <label for="value">Value (e.g. Hyperlink to Videofile)</label>
            <input type="url" class="form-control" id="inputUrl">

        </div>
        <div class="form-group col-md-3 test">

            <h4>Order</h4>
            <label for="order">Select Position of Content</label>
            <input type="number" class="form-control" id="inputNumber">

        </div>
        <div style="clear:both;"></div>
    </div>



</form>