
@{
    ViewBag.Title = "CourseContent";
}

<br />


<button class="btn btn-primary" type="submit">new</button>

<h2>Course Content</h2>

<head>
    <style>
        div.container {
            width: 100%;
            border: 2px solid black;
        }
    </style>
</head>

<form>

    <div class="container">
        <div class="form-group col-md-4">
            <h4>Description and Type</h4>
            <label for="inputDescription">Description</label>
            <input type="text" class="form-control" id="inputDescription">
            <label for="inputType">Type</label>
            <input type="text" class="form-control" id="inputType" placeholder="Video">

        </div>
        <div class="form-group col-md-4">

            <h4>Value</h4>
            <label for="value">Value (e.g. Hyperlink to Videofile)</label>
            <input type="url" class="form-control" id="inputUrl">

        </div>
        <div class="form-group col-md-4">

            <h4>Order</h4>
            <label for="order">Select Position of Content</label>
            <input type="number" class="form-control" id="inputNumber">

        </div>
        <div style="clear:both;"></div>
    </div>



</form>