@model AWE_Projekt_WS_17.Models.Tag

@{
    ViewBag.Title = "Suche";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Startseite</a></li>
        <li class="breadcrumb-item active" aria-current="page">Kurssuche</li>
    </ol>
</nav>


<h2>Suche</h2>

@using (Html.BeginForm("SearchResult", "Courses", FormMethod.Post))
{
    <div class="row" style="margin-bottom: 100px; margin-top: 20px;">
        <div class="col-lg-6">
            <div class="input-group">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Suchen!</button>
                </span>
                @Html.EditorFor(model => model.Name)
            </div>
        </div>
    </div>
}

@section Scripts {

    @Scripts.Render("~/bundles/jqueryval")

    <link rel="stylesheet" href="~/Content/kendo/2018.1.117/kendo.common-bootstrap.core.min.css" />
    <link rel="stylesheet" href="~/Content/kendo/2018.1.117/kendo.bootstrap.min.css" />

    <script src="~/Scripts/kendo/2018.1.117/kendo.ui.core.min.js"></script>
    <script src="~/Scripts/kendo/2018.1.117/cultures/kendo.culture.de-DE.min.js"></script>

    <script>
        $("#Name").kendoAutoComplete({
            placeholder: "Bitte auswählen",
            dataTextField: "Name",
            filter: "startswith",
            minLength: 1,
            dataSource: {
                type: "json",
                serverFiltering: true,
                transport: {
                    read: {
                        url: "@Url.Action("GetTags")",
                        data: {
                            text: function () {
                                return $("#Name").val();
                            }
                        }
                    }
                }
            }
        });
    </script>
}